@section header_pages{
    <br />
    <br />
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
}
<div>

    @{
        if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm())
            {
                <a>Digite a senha atual:</a> @Html.Password("senha atual");
                <a>Digite a nova senha:</a> @Html.Password("nova senha");
                <a>Repita a nova senha:</a> @Html.Password("repetir nova senha");
                <input type="submit" value="Enviar" />
            }
        }
        else
        {
            @Html.ActionLink("Clique aqui pra fazer o login", "logOn", "Autenticacao")
        }


    }
</div>

